/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/doc
/magnet.h2.db
/magnet.trace.db
/test.h2.db
/test.trace.db
/files/private/torrent/*.epub
/files/private/torrent/*.torrent
/files/public/img/*.jpg
/test-resources/private/torrent/*.epub
/test-resources/private/torrent/*.torrent
/test-resources/public/img/*.jpg
/konfig.clj
/proba-konfig.clj